.containerReservasiList {
  width: 90%;
  margin: 2rem auto;
  padding: 20px;
  background-color: #ddca7d;
  border-radius: 8px;
  font-family: "Poppins";
}

.headerReservasiList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #ddca7d;
}

.headerReservasiList h1 {
  font-size: 24px;
  color: #fff;
}

.addBtnReservasiList {
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #533E2D;

  color: white;
  text-decoration: none;
}

.addBtnReservasiList:hover {
    background-color: #271b11;
}

.tableWrapperReservasiList {
  overflow-x: auto;
}

.reservasiTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #533E2D;
  color: #F8FCFF;
  border-radius: 8px;
}

.reservasiTable th,
.reservasiTable td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.reservasiTable th {
  background-color: rgba(200, 200, 200, 0.2);
  color: #fff;
}

.reservasiTable tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}

.reservasiTable tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.editBtnReservasiList,
.deleteBtnReservasiList {
  padding: 8px 12px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.editBtnReservasiList {
  background-color: #008CBA;
  color: white;
}

.editBtnReservasiList:hover {
  background-color: #007bb5;
}

.deleteBtnReservasiList {
  background-color: #f44336;
  color: white;
}

.deleteBtnReservasiList:hover {
  background-color: #d32f2f;
}
