/* CustomerEdit.css */

.customerEdit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .customerEdit-title {
    font-size: 24px;
    color: #533E2D;
    margin-bottom: 20px;
  }
  
  .customerEdit-form {
    background-color: #533E2D;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  .customerEdit-form-group {
    margin-bottom: 15px;
  }
  
  .customerEdit-label {
    color: #fff;
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
  }
  
  .customerEdit-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  
  .customerEdit-input:focus {
    outline: none;
    border-color: #45a049;
  }
  
  .customerEdit-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .customerEdit-button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .customerEdit-submit-btn {
    background-color: #45a049;
    color: #fff;
  }
  
  .customerEdit-submit-btn:hover {
    background-color: #3d8b41;
  }
  
  .customerEdit-back-btn {
    background-color: #f44336;
    color: #fff;
  }
  
  .customerEdit-back-btn:hover {
    background-color: #d32f2f;
  }
  
  .customerEdit-back-btn a {
    color: white;
    text-decoration: none;
  }
  