/* CustomerList.css */

.container-customer {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  menuWrapper {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-left: auto;
     margin-right: auto;
     font-family: "Poppins";
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header-customer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 860px;
    margin-left: 35px;
  }
  
  h1 {
    font-size: 24px;
    color: #fff;
  }
  
  .add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #533E2D;
    color: white;
    text-decoration: none;
  }
  
  .add-btn a {
    color: white;
    text-decoration: none;
  }
  
  .add-btn:hover {
    background-color: #45a049;
  }
  
  .table-wrapper {
    overflow-x: auto;
  }
  
  .customer-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #533E2D;
    color: #F8FCFF;
    border-radius: 8px;
    width: 1080px;
    margin-left: 50px;
  }
  
  .customer-table th, .customer-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .customer-table th {
    background-color: rgba(200, 200, 200, 0.2);
    color: #fff;
  }
  
  .customer-table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .customer-table tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .edit-btn, .delete-btn {
    background-color: #008CBA;
    color: white;
    padding: 8px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .delete-btn {
    background-color: #f44336;
  }
  
  .edit-btn:hover {
    background-color: #007bb5;
  }
  
  .delete-btn:hover {
    background-color: #d32f2f;
  }
  
  .edit-btn a, .delete-btn a {
    color: white;
    text-decoration: none;
  }
  